html{
  scroll-behavior: smooth;
  font-family: Roboto,Arial;
}
body{
  margin: 0;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  

}
.title-name{background-color: red;}
.header{
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 90px;
  background-color: white;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  box-shadow: 2px 2px 2px 2px rgb(201, 201, 201);
  transition: transform .5s, opacity .5s;
} 
.left-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}
.home-button{
  background-color: white;
  border: none;
}
.home-icon{
  height: 50px;
  transition: transform 5s;
}
.home-icon:hover{
  cursor: pointer;
  transform: translateX(1000px) translateY(1000px);
  
}
#front-page{
  height: 400px;
  font-weight: 700;
  font-size: 50px;
  color: white;
  padding-top: 200px;
  background-image: url(DiscRes4.jpg);
  background-size: 100% 130%;
}
#front-banner{
  padding: 0 70px 0 70px;
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  height: 70%;
}
#minigame{
  width: 100%;
  height: 30%;
}
#player{
  height: 60%;
  position: relative;
  top: 35px;
}
.animate{
  animation: jump 1000ms;
}
@keyframes jump{
  0%{}
  10%{top: 20px; left: 70px;}
  20%{top: 0; left: 120px;} 
  30%{top: 35px; left: 240px;}
  40%{top: 35px; left: 280px;}
  50%{top: 0; left: 400px;} 
  60%{top: 35px; left: 520px;}
  70%{top: 35px; left: 560px;}
  80%{top: 0; left: 680px;} 
  90%{top: 35px; left: 800px;}     
}
.home {
  font-family: Roboto,Arial;
  font-weight: 500;
  color: rgb(36, 138, 255);
  font-size: 40px;
  transition: transform .2s, font-size .2s;
}
.home:hover{
  cursor: pointer;
  transform: translateX(20px);
  font-size: 50px;
}

.right-section{

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: Roboto,Arial;
  font-weight: 500;
  color: white;
  font-size: 20px;    
  width: 400px;    
  
}

.portfolio,.about,.form,.resume{
  margin-right: 5px;
  background-color: white;
  border: none;
  width: 30%;
  height: 40%;
  border-radius: 30%;
  transition: transform .2s;
}
.right-section:hover{
  cursor: pointer;
} 

.home-img-frame{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);

}
.home-img{
  transition: transform .2s;
}
.home-img:hover{
  object-fit:fill;
  transform: scale(1.05);
}
.side-img{
  width: 100%;
  background-color: white;
}
#image-holder{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  width: 100%;
}
#side-img-2{
  padding-top: 200px;
}
.side-img-one{
  margin-top: 100px;
  width: 100%;
  transition: transform .2s;
  
}
.side-img-one:hover{
  transform: scale(1.03);
}

.funstuff{
  height: 1000px;
}
.right-section .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px; 
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  white-space: nowrap;

}
.portfolio:hover,
.resume:hover,
.form:hover,
.about:hover{
background-color: aliceblue;
transform: translateX(10px);
}
.portfolio:hover .tooltip,
.resume:hover .tooltip,
.form:hover .tooltip,
.about:hover .tooltip{
opacity:1;
}
a{
  text-decoration: none;
  color: rgb(36, 138, 255);
  font-size: 18px;
  font-family: Roboto,Arial;
  font-weight: 500;
}
.page-anchor{
  padding: 15px;
}
.page-anchor:hover{
  text-decoration: underline;
}
.anchors{
  color: white;
  font-size: 30px;
  transition: font-size .2s, color .2s;
}
.anchors:hover{
  font-size: 35px;
  color: gold;
}
.portfolio-section{
  color: black;
  align-items: center;
  padding-bottom: 60px;
  margin-top: 80px;
}
.title{
  font-size: 30px;
  font-weight: 600;
  margin: 10px;
  color: black;
  width: 100%;
  text-align: center;
}
.resume-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: black;
  margin-top: 100px;
  background-image: url("DiscRes3.jpg");
}
.link-break{
  margin: 30px;
}
.form-section{
  display: flex;
  flex-direction: column;
  height: 450px;
  color: black;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 80px;
  
}
#about-you{
  font-size: 30px;
}

#form-background{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background-image: url("DiscRes7.jpg");
  background-position-y: -400px;
  width: 80%;
  padding: 10px;
  opacity: .6;
  transition: opacity .2s;
  margin: 5px;
  border-radius: 8px;
  margin-top: 50px;

}
#form-background:hover{
  opacity: 1;
}
#form-extra{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#about-you{
  margin-bottom: 30px;
}
.form-input{
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(209, 209, 209);  
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(117, 117, 117, 0.05);
  width: 80%;
}
.form-input::placeholder{
  opacity: .7;
}
#form-send{
  margin: 50px;
  width: 100%;
}
#form-submit{
  margin: 10px;
  border: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  color: rgb(159, 159, 159);
  transition: font-size .15s;
}
#form-submit:hover{
  font-size: 23px;
  color: rgb(81, 81, 81);
}
.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(105, 104, 104);
}
#bio-div{
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content:center;
}
#bio{
  font-size: 30px;
  width: 50%;
}
#bottom-break{
  display: flex;
  justify-content: center;
  width: 80%;
  height: 2px;
  background-color: black;
  margin-top: 40px;
}
#date{
  height: 40px;
  width: 100%;
  text-align: center;
}
#me{
  width: 30%;
  object-fit: contain;
  padding-right:30px;
}



